{% if module.display %}
    <div class="panel panel-default module">
        <div class="panel-cyvers">
         <span>{{ module.header }}</span></div>
        <div class="panel-body" id="panel-cyvers">
          <div class="featured-package">
              <div class="name">{{ module.package.name[:20] }}</div>
            <div class="image">
                <a href="javascript:void(0);" data-remote="/package/{{ module.package.id }}" class="toggle-modal">
                    <img src="{{ module.package.image.url }}" class="toggle-tooltip {% if module.package.image.borderless %}img-rounded{% else %}img-thumbnail{% endif %}" title="{{ __("Click for more details") }}" />
                </a>
            </div>
            <div class="info">
              <div class="text">
                
                <div class="price">
                    {% if module.package.customPrice == false and module.package.price > 0 %}
    					{% if module.package.discount.applied %}
          					<span class="discount">{{ module.package.discount.original|money }}</span>
          				{% endif %}
    					{{ module.package.price|money }} <small>{{ store.currency }}</small>
    				{% endif %}
                </div>
              </div>
              <div class="button">
                {% if module.package.basket %}
                    <a href="/checkout/packages/remove/{{ module.package.id }}" class="btn btn-sm btn-danger btn-block">{{ __("Remove") }}</a>
                {% else %}
                    <a href="javascript::void(0);" data-remote="/package/{{ module.package.id }}" class="btn btn-info btn-sm btn-block toggle-modal">{{ __("Buy") }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
    </div>
{% endif %}